{% extends "base.html" %}

{% block content %}
<h1 class="header">
  Composentencer
</h1>
<p>
  Let your imagination run wild - and this tool will help you keep track of your writing habits.
</p>
<p>
  Our SpaCy-powered technology analyses the sentences you   enter, providing a quick overview of the
  syntactic and morphologic structure of your input. Additionally, you can keep track of the amount and
  length of the sentences you enter. Join our family, build a writing streak and become a Composentencer in no time!
</p>
{% endblock %}
