{% extends "base.html" %}

{% block content %}
<h1 class="header">
  Welcome, {{ name }}!
</h1>
<div class="row">
  <div class="column">
    {% if da_data['glob_quantity'] == 0 %}
    <h3>Oops...</h3>
    <p>Looks like there's nothing to show yet.</p>
    <p>Let's fix that and start sentencing!</p>
    {% endif %}
    {% if da_data['glob_quantity'] != 0 %}
    <h3>Here are your stats</h3>
    <p>Your sentences are of this average length: <h2>{{ da_data['glob_avg_len'] }} words</h2> </p>
    <p>You have already composed <h2>{{ da_data['glob_quantity'] }}</h2> sentences!</p>
    <p>Your sentences are mostly <h2>{{ emote }}</h2></p>
    <h5>Keep up the good work!</h5>
    {% endif %}
  </div>
  <div class="column">
  <h3>Here are some graphs: </h3>
    <img src="{{ image }}"/>
    <img src="{{ image1 }}"/>
  </div>
</div>
{% endblock %}
